* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-y: scroll;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc {
  display: flex;
  align-items: center;
}

.content-visible {
  visibility: visible;
  opacity: 1;
}

.main-container {
  overflow-x: hidden;
  width: 100vw;
}

.main-container-locked {
  overflow-y: hidden;
}

.section-heading {
  font-size: 4rem;
  font-family: serif;
}

.section-title {
  margin-bottom: 5rem;
}

.footer--end--section {
  position: absolute;
  bottom: 0;
  left: 0;
}
